{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">{{ product.name }}</h1>
    </div>
    <div class="row">
        <div class="col-8">

            <img src="https://via.placeholder.com/700x300.png" alt="{{ product.category.name }}"></div>
        <div class="col-4">
            <p>Category: <span>{{ product.category.name }}</span></p>
            <p>Price: <span>{{ product.price }} €</span></p>

            {{ form_start(form) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.amount) }}
                    {{ form_widget(form.toCartBtn) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <p>{{ product.description }}</p>
    </div>
{% endblock %}