{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">{{ product.name }}</h1>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <p>Category: <span>{{ product.category.name }}</span></p>
            <p>Price: <span>{{ product.price }} €</span></p>
            <form action="#">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Amount" min="0" aria-label="Amount">
                    <input type="submit" class="btn btn-primary" value="Add to cart">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <p>{{ product.description }}</p>
    </div>
{% endblock %}